.menuWrapper {
    background: red;
}

.menuWrapper .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}

.menuWrapper .navbar-nav>li>a {
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 20px;
    color: #fff;
}

.menuWrapper .navbar-toggler {
    padding: 0.2rem 0.5rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid white;
}

.menuWrapper .nav-link {
    color: #fff !important;
}

.menuWrapper .wrapper {
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: rgb(39, 38, 38);
    clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 71% 100%);
    transition: 1s all;
}

.menuWrapper .navbar-brand {
    color: #fff;
    font-family: "Allerta Stencil", sans-serif;
    margin-bottom: 4px;
    font-size: 27px;
}

.menuWrapper .navbar-red:hover .wrapper {
    clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 65% 100%);
}

.menuWrapper .navbar-brand:hover {
    color: #fff;
}

.menuWrapper .navbar-red {
    background-color: rgb(238, 71, 71);
    color: #fff;
}

.menuWrapper .all-show {
    z-index: 10;
}